.card-list {
    display: flex;
    padding: 3rem;
}

.card {
	height: 400px;
    width: 300px;
    min-width: 250px;
    padding: 1.5rem;
    /*border-radius: 16px;*/
    background: #f1f3f6;
    box-shadow: -1rem 0 3rem #cecece;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    justify-content: flex-end;
}

.card:focus-within~.card, .card:hover~.card {
    
    transform: translateX(130px);
}

.card:hover {
    
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    
    margin-left: -130px;
}

.card-image {
	
    height: 60%;
}

#model-setting > div > div.card-list > 
div:nth-child(3) > div.card-image.michelle {
	background: url(../assets/Michelle.jpg);
    background-position: 4% 20%;
}


#model-setting > div > div.card-list > 
div:nth-child(2) > div.card-image.wiz {
	background: url(../assets/Wiz.png);
	background-position: 50% 20%;
}

#model-setting > div > div.card-list > 
div:nth-child(1) > div.card-image.malcolm {
    background: url(../assets/Malcolm.png);
    background-position: 75% 0%;
    background-size: cover;
}

.card-header {
    
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0 !important;
}

.card-tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: 0.8em;
    border: 2px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.card-tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}