/*https://codepen.io/BenjaminRazi/pen/qrWyez*/

.loader {
  padding: 60px 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.circle-wrapper {
  position: relative;
  width: 240px;
  height: 240px;
}

.circle-zero:before {
  content: "";
  background: rgba(0, 0, 0, 0.07);
  position: absolute;
  width: 168px;
  height: 2px;
  left: -60%;
  top: 50%;
  transform: rotate(45deg);
  z-index: -2;
}

.circle-zero {
  background: #3dbdf9;
  border-radius: 50%;
  box-shadow: 0px 3px 7px .7px rgba(0, 0, 0, .5);
  box-sizing: content-box;
  height: 78px;
  width: 78px;
  position: absolute;
  top: 35%;
  left: 35%;
}

.circle-zero:after {
  content: "";
  background: rgba(21, 167, 235, .7);
  position: absolute;
  width: 18px;
  height: 1.5px;
  left: -92%;
  top: 51%;
  transform: rotate(90deg);
  animation: circle-move 10s ease infinite;
}

.circle-one:before {
  content: "";
  background: rgba(21, 167, 235, .7);
  border-radius: 50%;
  position: absolute;
  width: 4px;
  height: 4px;
  right: -56%;
  top: 45%;
  animation: circle-move 10s ease infinite;
}

.circle-one {
  border: 15px solid;
  border-color: rgba(21, 167, 235, .7) rgba(21, 167, 235, .7) transparent transparent;
  border-radius: 50%;
  box-sizing: content-box; 
  height: 98px;
  width: 98px;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: -1;
  animation: circle-move 10s ease infinite;
}

.circle-one:after {
  content: "";
  background: rgba(21, 167, 235, .7);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  left: -56%;
  top: 48%;
  animation: circle-move 10s ease infinite;
}

.circle-two {
  background: rgba(0,0,0,.017);
  border: 25px solid;
  border-color: rgba(209, 25, 230, .3) transparent transparent;
  border-radius: 50%;
  box-shadow: 15px 0 25px -20px rgba(0, 0, 0, 0.65);
  box-sizing: content-box; 
  height: 90px;
  width: 90px;
  position: absolute;
  top: 22%;
  left: 22%;
  z-index: -2;
  animation: circle-move 14s ease infinite;
}

.circle-three {
  background: rgba(0,0,0,.012);
  border: 2px solid;
  border-color: #CE93D8 transparent;
  border-radius: 50%;
  box-sizing: content-box;
  height: 168px;
  width: 168px;
  position: absolute;
  z-index: -3;
  top: 15%;
  left: 15%;
  animation: circle-move 15s ease infinite;
}

.circle-shadow {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  filter: blur(2px);
  height: 20px;
  width: 160px;
  position: absolute;
  top: 100%;
  left: 18%;
}

.circle-text {
  position: absolute;
  top: 110%;
  left: 40%;
}


@keyframes circle-move {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}